<h1>New Search</h1>
<%= form_tag search_path do %>
<label>Title:</label><br>
<%= text_field_tag :'search[title]' %>
<br>
<label>Author/Editor:</label><br>
<%= text_field_tag :'search[name]' %>
<br>
<label>Keyword:</label><br>
<%= text_field_tag :'search[q]' %>
<br>
<br>
<%= submit_tag "Search" %>
<% end %>
<br>
<% if @search && @search.results %>
    <% @search.results.each do |text| %>
    <ul>
    <li>Title: <%= get_title(text) %>
    <% if get_subtitle(text) != nil %>
    <li>Subtitle: <%= get_subtitle(text) %></li>
    <% end %>
    <li><% if edited?(text) == true %>Edited by: <%= get_editors(text) %><% else %>Author(s): <%= author_cleanup(get_authors(text)) %><% end %>
    </ul>
    <br>
    <% end %>
<% else %>
<p>Sorry, your search returned no results. Try entering another field.</p>
<% end %>