<h1>New Search</h1>
<%= form_tag search_path do %>
<label>Title:</label><br>
<%= text_field_tag :'search[title]' %>
<br>
<label>Author/Editor:</label><br>
<%= text_field_tag :'search[name]' %>
<br>
<label>Keyword:</label><br>
<%= text_field_tag :'search[q]' %>
<br>
<br>
<%= submit_tag "Search" %>
<% end %>
<br>
<% if @search && @search.results %>
<ul>
    <% @search.results.each do |text| %>
    <li>Title: <%= get_title(text) %><% if get_subtitle(text) != nil %>: <%= get_subtitle(text) %><% end %></li>
    <br>
    <% end %>
</ul>
<% else %>
<p>Sorry, your search returned no results. Try entering another field.</p>
<% end %>