<h1>New Search</h1>
<%= form_tag search_path do %>
<label>Title:</label><br>
<%= text_field_tag :'search[title]' %>
<br>
<label>Author/Editor:</label><br>
<%= text_field_tag :'search[name]' %>
<br>
<label>Keyword:</label><br>
<%= text_field_tag :'search[q]' %>
<br>
<br>
<%= submit_tag "Search" %>
<% end %>
<br>
<% if @search && @search.results %>
    <% @search.results.each do |text| %>
        <% @title = get_title(text) %>
        <% @subtitle = get_subtitle(text) %>
        <% @editors = get_editors(text) %>
        <% @authors = new_authors(get_authors(text), get_editors(text)) %>
        <% @publisher = get_publisher(text) %>
        <% @pub_year = get_pub_year(text) %>
        <ul>
        <li>Title: <%= @title  %><% if @subtitle != nil %>: <%= @subtitle %><% end %></li>       
        <li>Author(s): <%= creator_cleanup(@authors) %></li>
        <li><% if @editors != ["No editor(s)."] && !@editors.empty? %> Edited by: <%= creator_cleanup(@editors) %><% end %>
        <li>Published by: <%= @publisher %> in <%= @pub_year %>.</li>
        </ul>
        <%= form_tag texts_path do %>
            <%= hidden_field_tag :'text[title]', @title %>
            <%= hidden_field_tag :'text[subtitle]', @subtitle%>
            <%= hidden_field_tag :'text[publisher]', @publisher %>
            <%= hidden_field_tag :'text[pub_year]', @pub_year %>

                <% get_creators_full_names(@authors).each do |author| %>
                <%= hidden_field_tag :'text[authors_attributes][][first_name]', author[:first_name] %>
                <%= hidden_field_tag :'text[authors_attributes][][last_name]', author[:last_name] %>
                <%= hidden_field_tag :'text[authors_attributes][][author_type]', author[:author_type] %>
                <% end %>
                
                <% if @editors != ["No editor(s)."] && !@editors.empty? %> 
                <% get_creators_full_names(@editors).each do |editor| %>
                <%= hidden_field_tag :'text[authors_attributes][][first_name]', editor[:first_name] %>
                <%= hidden_field_tag :'text[authors_attributes][][last_name]', editor[:last_name] %>
                <%= hidden_field_tag :'text[authors_attributes][][author_type]', editor[:author_type] %>
                <% end %>
                <% end %>
                <!--<%= text_field_tag :'text[bibliographies_attributes][][name]' %>-->

            <%= submit_tag("Add to Library") %>

        <% end %>
        <br>
    <% end %>

<% else %>
<p>Sorry, your search returned no results. Try entering another field.</p>
<% end %>