<button class='btn grey waves-effect waves-light text-white right'>
<a href='/users/<%= @user.id %>/bibliographies/new' style='color:white'>New Bibliography</a>
<i class='material-icons right'>add</i>
</button>
<h4>Bibliography Index Page</h4>
<% if @bibliographies != nil && !@bibliographies.empty? %>
<div class="row">
    <% @bibliographies.each do |bib| %>
    <div class="col s12 m6 l4">
        <div class="card small grey">
        <div class="card-content white-text">
            <span class="card-title"><%= bib.name %></span>
            <p><%= bib.citations.count %> Text(s) Cited</p>
            <br>
            <p><%= bib.use %></p>
            <br>
            <p><%= bib.style %></p>
        </div>
        <div class="card-action">
            <a class="white-text" href='/bibliographies/<%= bib.id %>'><i class="material-icons">format_list_bulleted</i></a>
            <a class="white-text" href='/bibliographies/<%= bib.id %>/edit'><i class="material-icons">edit</i></a>
            <a class="white-text" href='/texts'><i class="material-icons">add</i></a>
            <a class="white-text" href='/bibliographies/<%= bib.id %>/delete'><i class="material-icons">delete</i></a>
        </div>
        </div>
        </div>
    <% end %>
    </div>
<% else %>
<p>There are no bibliograhies to display. <%= link_to "Make one?", new_user_bibliography_path %></p>
<% end %>