<button class='btn grey waves-effect waves-light text-white right'>
<a href='/<%= @bibliography.id %>/citations/new' style='color:white'>Add Citation</a>
<i class='material-icons right'>add</i>
</button>
<h4><%= @bibliography.name %></h4>
<h5><%= @bibliography.use if @bibliography.use %></h5>
<hr>
<%= render 'style' %>
<% if @bibliography.style == "Chicago" %>
<%= render 'chicago' %>
<% elsif @bibliography.style == "MLA" %>
<%= render 'mla' %>
<% elsif @bibliography.style == "APA" %>
<%= render 'apa' %>
<% end %>