<h4><%= @text.title %><% if @text.subtitle %>: <%= @text.subtitle %><% end %></h4>
<% @text.authors.each do |author| %>
<%= author.first_name %> <%= author.last_name %>
<br>
<% end %>
<br>
<% if !@text.citations.empty? && @text.citations.last.bibliography != nil %>
<h5>Cited in:</h5>
<ul>
<% byebug %>
<%= @text.citations.each do |citation| %>
<li><%= link_to citation.bibliography.name, bibliography_path(citation.bibliography) %></li>
<% end %>
</ul>
<% end %>

<br>
<%= form_for @citation do |f| %>
<br>
<%= f.label "Add to a Bibliography" %>
<%= f.collection_select :bibliography_id, Bibliography.all, :id, :name %>
<br>
<%= f.hidden_field :text_id %>
<%= f.submit %>
<% end %>
<br>
<%= link_to "Make a New Bibliography", new_bibliography_path %>